---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import { getCollection } from 'astro:content';



const projects = await getCollection('projects')

const pageTitle = "My projects";
---
<Layout >
	<main class=" mt-5 mb-20">
		<h1 class=" text-center text-[30px] md:text-[50px] lg:text-[70px] xl:text-[96px] leading-[1] font-bold tracking-(--tracking-tightest)">
             {pageTitle}
        </h1>
	</main>

	<section aria-label="My projects">
		<div class="px-4 mx-auto max-w-screen-xl">
			<div class="grid gap-6 gap-x-1 md:grid-cols-2">
				{
                    projects.map(project => {
                        const { slug, data } = project;
                        const { title, author, img, date, description, technologies, tags } = 
						data

                        return (
                            <article class="flex">
                                <a href={`/projects/${slug}`} class="mb-2 x1:mb-0 mr-5 transtion hover:scale-110">
                                    <img class=" w-[200px]  rounded-lg" src={img} alt={title}  />
                                </a>

                                <div class="flex flex-col justify-center">
                                    <h2 class="mb-4 text-2x1 font-extrabold leading-tight text-[var(--accent)]">
                                        {title}
                                    </h2>

                                    <p class="mb 4 max-w-sm font-light">{description}</p>
                                </div>
                            </article>
                        );
                    })
                }
			</div>
		</div>
	</section>
	
</Layout> 