---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import { getCollection } from 'astro:content';



const projects = await getCollection('projects')

const pageTitle = "My projects";
---
<Layout >
	<main class=" mt-5 mb-20">
		<h1 class=" text-center text-[30px] md:text-[50px] lg:text-[70px] xl:text-[96px] leading-[1] font-bold tracking-(--tracking-tightest)">
             {pageTitle}
        </h1>
	</main>

	<section aria-label="My projects">
		<div class="px-4 mx-auto max-w-screen-xl">
			<div class="grid gap-6 gap-x-1 md:grid-cols-2">
				{
                    projects.map(project => {
                        const { slug, data } = project;
                        const { title, img, description } = data;

                        return (
                            <article key={slug} class="flex  gap-4"> {/* items-start alinea verticalmente al inicio, gap-4 añade espaciado */}
                                <a href={`/projects/${slug}`} class="shrink-0 transition hover:scale-105">
                                    <img
                                        class="w-[150px] h-[84.38px] lg:w-[350px] lg:h-[196.88px] object-cover rounded-lg" {/* Ajusta el tamaño fijo y usa object-cover */}
                                        src={img}
                                        alt={title}
                                    />
                                </a>

                                <div class="flex flex-col justify-center">
                                    <h2 class="mb-2 text-xl font-semibold leading-tight text-[var(--accent)]"> {/* Ajusté tamaños de fuente y márgenes */}
                                        {title}
                                    </h2>
                                    <p class="text-sm font-light">{description}</p> {/* Ajusté tamaño de fuente */}
                                </div>
                            </article>
                        );
                    })}
                </div>
            </div>
        </section>
     </main>       
</Layout> 