---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---
<Layout pageTitle={frontmatter.title}>

    <main class="m-8">
        <div class="flex flex-col items-center">
          <h1 class="text-center text-3xl md:text-5xl lg:text-6xl font-bold tracking-(--tracking-tightest) mb-6 w-full lg:w-[1024px]">
            {frontmatter.title}
          </h1>
          <div class="w-full lg:w-[1024px] mb-6">
            <img
              class="w-full object-cover rounded-lg"
              src={frontmatter.img}
              alt={frontmatter.title}
            />
          </div>
          <div class="w-full lg:w-[1024px] mb-6">
            <h1 class="text-lg font-bold tracking-(--tracking-tightest) text-[var(--accent)] leading-[1]">
              Technologies: {frontmatter.technologies}
            </h1>
          </div>
          <div class="w-full lg:w-[1024px] text-sm md:text-base lg:text-lg font-light">
            <slot class="font-bold" />
          </div>
        </div>
      </main>
    

    

    
</Layout>