---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const { frontmatter } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const technologies = Array.isArray(frontmatter.technologies)
  ? frontmatter.technologies.join(', ')
  : frontmatter.technologies;
---
<Layout
  pageTitle={`${frontmatter.title} | Andres Soler`}
  pageDescription={frontmatter.description}
  pageImage={frontmatter.img}
>
  <main class="m-8">
    <div class="flex flex-col items-center">
      <h1 class="text-center text-3xl md:text-5xl lg:text-6xl font-bold tracking-tight mb-6 w-full lg:w-[1024px]">
        {frontmatter.title}
      </h1>

      <div class="w-full lg:w-[1024px] mb-6">
        <img
          class="w-full object-cover rounded-lg"
          src={frontmatter.img}
          alt={frontmatter.title}
        />

        <div class="w-full mt-4">
          <h2 class="text-lg font-bold tracking-tight text-[var(--accent)] leading-[1]">
            {t('projects.technologies')} {technologies}
          </h2>

          <div class="text-sm md:text-base lg:text-lg font-light mt-4 w-full">
            <div class="w-full max-w-none">
              <slot />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
