---
const { frontmatter } = Astro.props;
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---
<Layout pageTitle={frontmatter.title}>
  <main class="m-8">
    <div class="flex flex-col items-center">
      <h1 class="text-center text-3xl md:text-5xl lg:text-6xl font-bold tracking-tight mb-6 w-full lg:w-[1024px]">
        {frontmatter.title}
      </h1>

      <div class="w-full lg:w-[1024px] mb-6">
        <img
          class="w-full object-cover rounded-lg"
          src={frontmatter.img}
          alt={frontmatter.title}
        />

        <div class="w-full mt-4">
          <h2 class="text-lg font-bold tracking-tight text-[var(--accent)] leading-[1]">
            Technologies: {frontmatter.technologies}
          </h2>

          <div class="text-sm md:text-base lg:text-lg font-light mt-4 w-full">
            <div class="w-full max-w-none">
              <slot />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>